# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

# Data files
data/*.csv
data/*.xlsx
data/*.json
data/*.txt

household_power_consumption.txt
vhi_data/
